Olá <%= @own_username %>,
<br><br>
O usuário <a href="http://baixogavea.com/usuario/<%= @voto_username %>"><%= @voto_username %></a> fez um comentário negativo no <a href="<%=@url%>">link</a> que você adicionou no álbum "<%= @album %>":
<br><br>
- "<%=@comentario%>"
<br><br><br>
Se o link estiver quebrado, por favor, adicione outro.<br>
Vamos manter a embarcação flutuando organizadamente.
<br><br>
Saudações,<br>
Robô Baixo Gávea
