<%= link_to 'Som Barato', 'http://sombarato.org/sobre', {:target=>"new"} %><br>
<br/>
<%= link_to 'Partido Pirata do Brasil', "http://partidopirata.org/", {:target=>"new"} %><br>
<br>
<br>

<%= link_to image_tag('orkut_32.png'), "http://mostre.me/orkut-baixo-gavea", 
  {:target=>"new", :title=>"Comunidade no Orkut"}
%>
<%= link_to image_tag('twitter_32.png'), "http://twitter.com/baixo_gavea", 
  {:target=>"new", :title=>"Twitter @baixo_gavea"} 
%>
